
<div class="footer mt-5 py-4 d-flex flex-lg-column footer-height" id="kt_footer">
    <div class="container-xxl">
        <div class="text-dark order-1 order-md-1">
            <hr />
            
            <p class="text-muted text-justify">
                Generalmente, un registro en línea consta de campos de entrada donde los usuarios ingresan sus datos personales, como nombre, dirección de correo electrónico, número de teléfono, fecha de nacimiento, entre otros. Dependiendo del propósito del registro, también pueden solicitarse detalles adicionales, como información laboral, preferencias de producto o servicio, historial educativo, entre otros.
            </p>

            <p class="text-muted text-justify">
                Una vez que un usuario completa el registro en línea y envía el formulario, los datos recopilados se almacenan en una base de datos para su posterior uso por parte del sitio web o la empresa que administran el registro. Estos datos pueden utilizarse para diversos fines, como comunicaciones de marketing, análisis de mercado, personalización de experiencias en línea, entre otros. Es importante que los registros en línea cumplan con las regulaciones de privacidad y protección de datos pertinentes para garantizar la seguridad y confidencialidad de la información de los usuarios.
            </p>
           
        </div>
    </div>
</div>
<div class="footer py-4 d-flex flex-lg-column" id="kt_footer_2">
    <div class="container-xxl d-flex flex-column flex-md-row align-items-center justify-content-between">
        <div class="text-dark order-2 order-md-1">
            <span class="text-muted fw-bold me-1">
                Registro en Linea @DateTime.Now.Year &copy;
            </span>
        </div>
    </div>
</div>