
<div class="footer mt-5 py-4 d-flex flex-lg-column footer-height" id="kt_footer">
    <div class="container-xxl">
        <div class="text-dark order-1 order-md-1">
            <h3 class="text-muted text-center">AVISO DE PRIVACIDAD SIMPLIFICADO DIRECCIÓN DE EMPRENDIMIENTO E IMPULSO A LA COMPETITIVIDAD</h3>
            
            <p class="text-muted text-justify">
                La Dirección de Emprendimiento e Impulso a la Competitividad, perteneciente a la Subsecretaria de Comercio, de la Secretaria de Economía y del Trabajo del Estado de Chiapas, ubicado en Boulevard Andrés Serra Rojas número 1090, Torre Chiapas, Nivel 15, Tuxtla Gutiérrez, Chiapas; es el sujeto responsable del tratamiento de los datos personales que se recaban en sus diversas Jefaturas de Departamento, como lo son Departamento de Impulso a la Competitividad, Departamento de Emprendimiento y Departamento de Locatarios y  Pequeños Comerciantes.
            </p>

            <p class="text-muted text-justify">
                Los datos personales que serán sometidos a tratamiento y que ingresan a esta Dirección de Emprendimiento e Impulso a la Competitividad para el desempeño de sus funciones pueden referirse a nombres y apellidos del interesado, razón social, RFC, fecha de nacimiento, CURP, domicilio, número de teléfono celular y/o número de teléfono fijo, correo electrónico, municipio de residencia, nombre comercial de la empresa, giro y actividad económica que desempeña, entre otros.
            </p>

            <p class="text-muted text-justify">
                Estos datos personales referidos serán sometidos a tratamiento por la Dirección de Emprendimiento e Impulso a la Competitividad, de la Subsecretaría de Comercio, de la Secretaria de Economía y del Trabajo, en el ámbito de su competencia de conformidad con lo dispuesto en el artículo 33 de la Ley de Protección de Datos Personales en Posesión de Sujetos Obligados del Estado de Chiapas relacionado con los artículos 27, 30 y 31 del reglamento interno de la Secretaria de Economía y del Trabajo.
                El titular de los datos podrá ejercer sus derechos ARCO (Acceso, Rectificación, Cancelación u Oposición) personalmente ante la Unidad de Transparencia de esta Secretaria de Economía y del Trabajo del Estado de Chiapas, ubicada en Boulevard Andrés Serra Rojas número 1090, Torre Chiapas, Nivel 15, Colonia Paso Limón, Tuxtla Gutiérrez, Chiapas o bien, a través de la Plataforma Nacional de Transparencia <a href="http://www.plataformadetransparencia.org.mx/" target="_blank">http://www.plataformadetransparencia.org.mx/</a>  ó por medio del correo electrónico:
                <span class="text-seyt">set@transparencia.chiapas.gob.mx</span>
            </p>
           
        </div>
    </div>
</div>
<div class="footer py-4 d-flex flex-lg-column" id="kt_footer_2">
    <div class="container-xxl d-flex flex-column flex-md-row align-items-center justify-content-between">
        <div class="text-dark order-2 order-md-1">
            <span class="text-muted fw-bold me-1">
                Secretaria de Economía y del Trabajo @DateTime.Now.Year &copy;
            </span>
        </div>
    </div>
</div>