<div class="flex-lg-row-fluid ms-lg-10">
    <div class="card">
        <div class="card-header card-header-stretch">
            <div class="card-title d-flex align-items-center">
                <h3 class="fw-bolder m-0 text-gray-800">REGISTRATE</h3>
            </div>
            <div class="card-toolbar m-0">
                <ul class="nav nav-tabs nav-line-tabs nav-stretch fs-6 border-0 fw-bolder" role="tablist">
                    <li class="nav-item" role="presentation">
                        <a id="tab_reg_completo" class="nav-link justify-content-center text-active-gray-800 active" data-bs-toggle="tab" role="tab" href="#kt_activity_week">Registro Completo</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <div class="tab-content">
                <div id="kt_activity_week" class="card-body p-0 tab-pane fade show active" role="tabpanel" aria-labelledby="tab_reg_completo">
                    <div class="row animated fadeIn" id="content-registro">
                        <div class="col-lg-12">
                            <form id="frmRegistroCompleto" novalidate>

                                @Html.Partial("_PartialViewEncabezadoMsj")

                                <div class="row mb-8">
                                    <div class="resize col-10">
                                        <label class="required form-label">Nombre completo:</label>
                                        <input class="inputClear form-control letter text-uppercase" onkeyup="_toUppercase(this);" autocomplete="off" placeholder="Nombre completo" type="text" name="nombre_completo_form_comp" id="txtNombreFormComp" />
                                    </div>
                                    <div class="resize col-2">
                                        <label class="required form-label">Edad:</label>
                                        <input class="inputClear form-control numbers" placeholder="Edad" type="text" autocomplete="off" name="edad_form_comp" id="txtEdadFormComp" maxlength="3" />
                                    </div>
                                </div>
                                <div class="row mb-8">
                                    <div class="resize col-8">
                                        <label class="required form-label">CURP:</label>
                                        <input class="inputClear form-control letter_and_numbers text-uppercase" oninput="validarInputCURP(this);" onkeyup="_toUppercase(this);" autocomplete="off" placeholder="CURP" type="text" name="curp_form_comp" id="txtCurpFormComp" maxlength="18" />
                                        <pre id="resultado-curp"></pre>
                                    </div>
                                    <div class="resize col-4">
                                        <label class="required form-label">Municipio al que perteneces:</label>
                                        <select class="form-control" name="municipio" id="cboMunicipioFormComp">
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-8">
                                    <div class="resize col-8">
                                        <label class="required form-label">Correo electrónico:</label>
                                        <input class="inputClear form-control" placeholder="Corrreo electrónico" type="email" autocomplete="off" name="correo_form_comp" id="txtCorreoFormComp" />
                                    </div>
                                    <div class="resize col-4">
                                        <label class="required form-label">Número de celular a 10 dígitos:</label>
                                        <input class="inputClear form-control numbers" placeholder="961-123-4567" type="text" autocomplete="off" name="telefono_form_comp" id="txtTelefonoFormComp" maxlength="10" />
                                    </div>
                                </div>
                                <div class="row mb-8">
                                    <div class="resize col-3">
                                        <label class="required form-label">Género:</label>
                                        <select class="form-control cboRegCompleto" name="genero" id="cboGeneroFormComp">
                                            <option selected value="SEL">[SELECCIONE]</option>
                                            <option value="M">MUJER</option>
                                            <option value="H">HOMBRE</option>
                                            <option value="X">PREFIERO NO DECIRLO</option>
                                        </select>
                                    </div>
                                    <div class="resize col-5">
                                        <label class="required form-label">Elige una opción con la que se identifique:</label>
                                        <select class="form-control cboRegCompleto" name="identifique" id="cboIdentifiqueFormComp">
                                            <option selected value="SEL">[SELECCIONE]</option>
                                            <option value="EMPRENDEDOR">EMPRENDEDOR</option>
                                            <option value="EMPRESARIO">EMPRESARIO(A)</option>
                                            <option value="PUBLICO">PÚBLICO EN GENERAL</option>
                                        </select>
                                    </div>
                                    <div class="resize col-3">
                                        <label class="required form-label">¿Tienes alguna discapacidad?</label>
                                        <select class="form-control cboRegCompleto" name="discapacidad" id="cboDiscapacidadFormComp">
                                            <option selected value="SEL">[SELECCIONE]</option>
                                            <option value="SI">SI</option>
                                            <option value="NO">NO</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-8">
                                    <div class="resize col-4">
                                        <label class="form-label">Nombre comercial de la empresa:</label>
                                        <span class="badge badge-info fa-pull-right">OPCIONAL</span>
                                        <input class="inputClear form-control text-uppercase" onkeyup="_toUppercase(this);" autocomplete="off" name="nombre_comercial" type="text" placeholder="Tu Respuesta" id="txtNombreComercial" />
                                    </div>
                                    <div class="resize col-4">
                                        <label class="form-label">Actividad económica que realizas:</label>
                                        <span class="badge badge-info fa-pull-right">OPCIONAL</span>
                                        <input class="inputClear form-control text-uppercase" onkeyup="_toUppercase(this);" autocomplete="off" name="actividad_economica" type="text" placeholder="Tu Respuesta" id="txtActividad" />
                                    </div>
                                    <div class="resize col-4">
                                        <label class="form-label">R.F.C. con Homoclave: </label>
                                        <span class="badge badge-info fa-pull-right">OPCIONAL</span>
                                        <input class="inputClear form-control text-uppercase" oninput="validarInputRFC(this);" onkeyup="_toUppercase(this);" autocomplete="off" name="rfc" type="text" placeholder="Tu Respuesta" id="txtRFC" />
                                        <pre id="resultado-rfc"></pre>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12">
                                        <label class="form-label">NOTA: Si tienes alguna duda o comentario, puedes comunicarte vía correo electrónico a: depto.competitividad@gmail.com</label>
                                        <span class="badge badge-info fa-pull-right">OPCIONAL</span>
                                        <textarea class="inputClear form-control text-uppercase" onkeyup="_toUppercase(this);" autocomplete="off" rows="4" placeholder="Comentarios..." name="comentarios" id="txtComentario"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="row animated fadeIn hide" id="content-programas">
                        <div class="row">
                            <div class="col-12">
                                <div class="card ">
                                    <div class="card-header card-header-stretch">
                                        <h3 class="card-title">Itinerario de programas</h3>
                                        <div class="card-toolbar">
                                            <ul class="nav nav-tabs nav-line-tabs nav-stretch fs-6 border-0">
                                                <li class="nav-item">
                                                    <a class="nav-link active" data-bs-toggle="tab" href="#kt_tab_pane_7">Conferencias</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link" data-bs-toggle="tab" href="#kt_tab_pane_8">Talleres</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row container">
                                            <div class="col-lg-6 text-center">
                                                <h3>INFORMACIÓN DEL PARTICIPANTE</h3>
                                                <div class="symbol mb-3 symbol-100px symbol-circle">
                                                    <img src="~/Content/img/sin-foto.jpg" />
                                                </div>
                                                <input id="txtParticipanteId" readonly class="hide" />
                                                <h5 id="lblNombreCompleto"></h5>
                                                <h5 id="lblTelefono"></h5>
                                                <h5 id="lblTipo"></h5>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="tab-content" id="myTabContent">
                                                    <div class="tab-pane fade show active" id="kt_tab_pane_7" role="tabpanel">
                                                        <div class="table-responsive">
                                                            <table width="100%" class="table table-hover table-row-dashed table-row-gray-300 gy-7">
                                                                <thead>
                                                                    <tr class="fw-bolder fs-6 text-gray-800">
                                                                        <th width="90%">Tema</th>
                                                                        <th width="10%" class="text-center">Me Interesa</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="tblConferencias"></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="kt_tab_pane_8" role="tabpanel">
                                                        <div class="table-responsive">
                                                            <table width="100%" class="table table-hover table-row-dashed table-row-gray-300 gy-7">
                                                                <thead>
                                                                    <tr class="fw-bolder fs-6 text-gray-800">
                                                                        <th width="90%">Tema</th>
                                                                        <th width="10%" class="text-center">Me Interesa</th>
                                                                    </tr>
                                                                </thead>
                                                                <tbody id="tblTalleres"></tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="notice d-flex bg-light-warning rounded border-warning border p-6">
                                                    <div class="d-flex flex-stack flex-grow-1">
                                                        <div class="fw-bold">
                                                            <h4 class="text-gray-900 fw-bolder">Programas a los que estoy inscrito</h4>
                                                            <div class="fs-6 text-gray-700">
                                                                <h4>Conferencias</h4>
                                                                <ul id="listConferencias"></ul>
                                                                <h4>Talleres</h4>
                                                                <ul id="listTalleres"></ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-12">
                    <button class="btn btn-primary fa-pull-right" id="btnContinuar">Continuar <i class="fa fa-arrow-right"></i></button>
                    <button class="btn btn-primary fa-pull-right hide" id="btnRegistrar">Concluir Registro <i class="fa fa-check"></i></button>
                    <button class="btn btn-secondary fa-pull-right hide mr-5" id="btnRegresar"><i class="fa fa-arrow-left"></i> Regresar</button>
                </div>
            </div>
        </div>
    </div>
</div>