<div class="card bg-light text-justify mb-8">
    <div class="card-body py-12">
        <h3 class="text-seyt">IMPORTANTE</h3>
        <h4>
            Al finalizar el registro se enviará un correo electrónico, revisa tu bandeja de entrada y, si no encuentras el correo electrónico en la bandeja principal, asegúrate de revisar la carpeta de correo no deseado o spam. A veces, los filtros de correo pueden redirigir mensajes importantes a estas carpetas por error.
        </h4>
    </div>
</div>
