<table width="100%" id="tbl1" class="hide">
    <tbody id="tblTalleresSendEmail" style="text-align:center;"></tbody>
</table>

<table width="100%" id="tbl2" class="hide">
    <tbody id="tblConferenciaSendEmail" style="text-align:center;"></tbody>
</table>
