<div class="flex-lg-row-fluid ms-lg-10">
    <div class="card">
        <div class="card-header card-header-stretch">
            <div class="card-title d-flex align-items-center">
                <h3 class="fw-bolder m-0 text-gray-800">PANEL FORO DE INNOVACIÓN TECNOLÓGICA 2023</h3>
            </div>
        </div>
        <div class="card-body">
            <div class="card bg-light mb-18">
                <!--begin::Body-->
                <div class="card-body py-15">
                    <!--begin::Wrapper-->
                    <div class="d-flex flex-center">
                        <!--begin::Items-->
                        <div class="d-flex justify-content-between mb-10 mx-auto w-xl-900px">
                            <!--begin::Item-->
                            <div class="octagon d-flex flex-center h-200px w-200px bg-white mx-2">
                                <!--begin::Content-->
                                <div class="text-center">
                                    <!--begin::Text-->
                                    <div class="mt-1">
                                        <!--begin::Animation-->
                                        <div class="fs-lg-2hx fs-2x fw-bolder text-gray-800 d-flex align-items-center text-center">
                                            <div class="min-w-70px counted" id="lblTotalParticipantes">-</div>
                                        </div>
                                        <!--end::Animation-->
                                        <!--begin::Label-->
                                        <span class="text-gray-600 fw-bold fs-5 lh-0">Total <br /> de <br /> Participantes</span>
                                        <!--end::Label-->
                                    </div>
                                    <!--end::Text-->
                                </div>
                                <!--end::Content-->
                            </div>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <div class="octagon d-flex flex-center h-200px w-200px bg-white mx-2">
                                <!--begin::Content-->
                                <div class="text-center">
                                    <!--begin::Text-->
                                    <div class="mt-1">
                                        <!--begin::Animation-->
                                        <div class="fs-lg-2hx fs-2x fw-bolder text-gray-800 d-flex align-items-center">
                                            <div class="min-w-50px counted" id="lblTotalMujeres">-</div>
                                        </div>
                                        <!--end::Animation-->
                                        <!--begin::Label-->
                                        <span class="text-gray-600 fw-bold fs-5 lh-0">Total <br /> de <br /> Mujeres</span>
                                        <!--end::Label-->
                                    </div>
                                    <!--end::Text-->
                                </div>
                                <!--end::Content-->
                            </div>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <div class="octagon d-flex flex-center h-200px w-200px bg-white mx-2">
                                <!--begin::Content-->
                                <div class="text-center">
                                    <!--begin::Text-->
                                    <div class="mt-1">
                                        <!--begin::Animation-->
                                        <div class="fs-lg-2hx fs-2x fw-bolder text-gray-800 d-flex align-items-center">
                                            <div class="min-w-50px counted" id="lblTotalHombres">-</div>
                                        </div>
                                        <!--end::Animation-->
                                        <!--begin::Label-->
                                        <span class="text-gray-600 fw-bold fs-5 lh-0">Total <br /> de <br /> Hombres</span>
                                        <!--end::Label-->
                                    </div>
                                    <!--end::Text-->
                                </div>
                                <!--end::Content-->
                            </div>
                            <!--end::Item-->
                        </div>
                        <!--end::Items-->
                    </div>
                    <!--end::Wrapper-->
                    <!--begin::Wrapper-->
                    <div class="d-flex flex-center">
                        <!--begin::Items-->
                        <div class="d-flex justify-content-between mb-10 mx-auto w-xl-900px">
                            <!--begin::Item-->
                            <div class="octagon d-flex flex-center h-200px w-200px bg-white mx-2">
                                <!--begin::Content-->
                                <div class="text-center">
                                    <!--begin::Text-->
                                    <div class="mt-1">
                                        <!--begin::Animation-->
                                        <div class="fs-lg-2hx fs-2x fw-bolder text-gray-800 d-flex align-items-center text-center">
                                            <div class="min-w-70px counted" id="lblTotalEmprendedores">-</div>
                                        </div>
                                        <!--end::Animation-->
                                        <!--begin::Label-->
                                        <span class="text-gray-600 fw-bold fs-5 lh-0">Total <br /> de <br /> Emprendedores</span>
                                        <!--end::Label-->
                                    </div>
                                    <!--end::Text-->
                                </div>
                                <!--end::Content-->
                            </div>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <div class="octagon d-flex flex-center h-200px w-200px bg-white mx-2">
                                <!--begin::Content-->
                                <div class="text-center">
                                    <!--begin::Text-->
                                    <div class="mt-1">
                                        <!--begin::Animation-->
                                        <div class="fs-lg-2hx fs-2x fw-bolder text-gray-800 d-flex align-items-center">
                                            <div class="min-w-50px counted" id="lblTotalEmpresarios">-</div>
                                        </div>
                                        <!--end::Animation-->
                                        <!--begin::Label-->
                                        <span class="text-gray-600 fw-bold fs-5 lh-0">Total <br /> de <br /> Empresarios</span>
                                        <!--end::Label-->
                                    </div>
                                    <!--end::Text-->
                                </div>
                                <!--end::Content-->
                            </div>
                            <!--end::Item-->
                            <!--begin::Item-->
                            <div class="octagon d-flex flex-center h-200px w-200px bg-white mx-2">
                                <!--begin::Content-->
                                <div class="text-center">
                                    <!--begin::Text-->
                                    <div class="mt-1">
                                        <!--begin::Animation-->
                                        <div class="fs-lg-2hx fs-2x fw-bolder text-gray-800 d-flex align-items-center">
                                            <div class="min-w-50px counted" id="lblTotalPubGenerar">-</div>
                                        </div>
                                        <!--end::Animation-->
                                        <!--begin::Label-->
                                        <span class="text-gray-600 fw-bold fs-5 lh-0">Total <br /> de <br /> Público General</span>
                                        <!--end::Label-->
                                    </div>
                                    <!--end::Text-->
                                </div>
                                <!--end::Content-->
                            </div>
                            <!--end::Item-->
                        </div>
                        <!--end::Items-->
                    </div>
                    <!--end::Wrapper-->
                    <!--begin::Testimonial-->
                    <div class="fs-2 fw-bold text-muted text-center mb-3">
                        Panel de Administración
                    </div>
                    <!--end::Testimonial-->
                </div>
                <!--end::Body-->
            </div>
        </div>
    </div>
</div>
